Repository Stake-And-Rope/market-app, pull requests merged in 2023-05, with the labels that each got.

#5 update
  test_branch.py
Labels: good first issue

#9 Release market-app v1.0.0-alpha
  .gitignore
  db_handle/db_crud_operations.py
  db_handle/postgres_conn.py
  db_handle/register_user.py
  fonts/jetbrains-font-license.txt
  fonts/jetbrains-mono.regular.ttf
  img/login.png
  img/market.png
  img/store-banner.png
  img/store-banner2.png
  pyqt5-gui/layouts_structure/register.png
  pyqt5-gui/login.py
  pyqt5-gui/main.py
  pyqt5-gui/register.py
  requirements
  test_branch.py
Labels: enhancement

#30 Main Menu Development
  .gitignore
  db_handle/manage_portfolio.py
  experimental/main_menu.py_BAK
  img/categories/Accessories.png
  img/categories/Beachwear.png
  img/categories/Books.png
  img/categories/Clothes.png
  img/categories/Cosmetics.png
  img/categories/Drinks.png
  img/categories/Electronics.png
  img/categories/Food.png
  img/categories/Hair.png
  img/categories/Home and Living.png
  img/categories/Shoes.png
  img/categories/Sports.png
  pyqt5-gui/login.py
  pyqt5-gui/main.py
  pyqt5-gui/main_menu.py
  pyqt5-gui/register.py
Labels: enhancement, pyqt-gui

#33 About Window
  fonts/JetBrainsMonoNerdFont-Bold.ttf
  img/github.png
  pyqt5-gui/about.py
Labels: enhancement, good first issue, pyqt-gui

#39 Subcategories Menus
  experimental/food_subcategory.py
  pyqt5-gui/main_menu_dev.py
  pyqt5-gui/subcategories.py
Labels: pyqt-gui, new release, sub-categories, products

#41 Update subcategories menu
  img/subcategories/Accessories.png
  img/subcategories/Alcohol Beverages.png
  img/subcategories/Beach Shoes.png
  img/subcategories/Blouses.png
  img/subcategories/Coffee.png
  img/subcategories/Computers.png
  img/subcategories/Documentary.png
  img/subcategories/Electric Gadgets.png
  img/subcategories/Equipment.png
  img/subcategories/Garden Design.png
  img/subcategories/Horror.png
  img/subcategories/Household Appliences.png
  img/subcategories/Kitchen.png
  img/subcategories/Makeup.png
  img/subcategories/Men Shorts.png
  img/subcategories/Men Suits.png
  img/subcategories/Nail Polish.png
  img/subcategories/Non-Alcohol Beverages.png
  img/subcategories/Photography Gadgets.png
  img/subcategories/Products.png
  img/subcategories/Romance.png
  img/subcategories/Room Decoration.png
  img/subcategories/Running Shoes.png
  img/subcategories/Shoes.png
  img/subcategories/Skin Care Products.png
  img/subcategories/Skirts.png
  img/subcategories/Slippers.png
  img/subcategories/Sneakers.png
  img/subcategories/Sport Accessories.png
  img/subcategories/Sunglasses.png
  img/subcategories/Wallets.png
  img/subcategories/Watches.png
  img/subcategories/Women Kimonos.png
  pyqt5-gui/main_menu_dev.py
  pyqt5-gui/subcategories.py
Labels: enhancement, pyqt-gui, sub-categories

#44 Merge `raya_development` with `experimental`
  img/subcategories/Accessories.png
  img/subcategories/Alcohol Beverages.png
  img/subcategories/Beach Shoes.png
  img/subcategories/Blouses.png
  img/subcategories/Coffee.png
  img/subcategories/Computers.png
  img/subcategories/Documentary.png
  img/subcategories/Electric Gadgets.png
  img/subcategories/Equipment.png
  img/subcategories/Garden Design.png
  img/subcategories/Horror.png
  img/subcategories/Household Appliences.png
  img/subcategories/Kitchen.png
  img/subcategories/Makeup.png
  img/subcategories/Men Shorts.png
  img/subcategories/Men Suits.png
  img/subcategories/Nail Polish.png
  img/subcategories/Non-Alcohol Beverages.png
  img/subcategories/Photography Gadgets.png
  img/subcategories/Products.png
  img/subcategories/Romance.png
  img/subcategories/Room Decoration.png
  img/subcategories/Running Shoes.png
  img/subcategories/Shoes.png
  img/subcategories/Skin Care Products.png
  img/subcategories/Skirts.png
  img/subcategories/Slippers.png
  img/subcategories/Sneakers.png
  img/subcategories/Sport Accessories.png
  img/subcategories/Sunglasses.png
  img/subcategories/Wallets.png
  img/subcategories/Watches.png
  img/subcategories/Women Kimonos.png
  pyqt5-gui/main_menu_dev.py
  pyqt5-gui/subcategories.py
Labels: maintenance

#45 Merge `alex_development` into `experimental`
  db_handle/postgres_conn.py
  pyqt5-gui/login.py
  pyqt5-gui/main.py
  pyqt5-gui/main_menu.py
  pyqt5-gui/register.py
  pyqt5-gui/update_account.py
Labels: maintenance
